@import url("grid.css");
.container {
    max-width: 100%;
    margin: 0 auto;
    background: lightgray;
}

div.nav,
ul.nav>li
{
    display: inline-block;
    border: 1px solid purple;
    background: violet;
    text-align: left;
    padding-right: 20px;
}

ul.nav,
ul.slider {
    list-style-type: none;
    }

.slider {
    display: inline;
}
.card {

    border: 2px solid blueviolet;
    height: 200px;
    background: violet;
    margin: 5px;
}

.height {
    height: 627px;
    position: relative;
    top: -321px;
}

.cards {
    margin-bottom: 25px;
}
.block-1-3 {
    height: 628px;
}

